Step 1.A - Scraping for Headline info

In [78]:
#dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time 
import pandas as pd
import requests

In [79]:
#chromdriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [80]:
#URL AND BS
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [81]:
# find news headlines 
headlines = soup.find_all('div', class_="content_title")
#print(headlines)

In [82]:
# pargraph info in body
article_body = soup.find_all('div', class_="rollover_description")
#print(article_body)

In [83]:
#lastest neww with title and info
results = soup.find_all('div', class_="slide")

for result in results:
    headlines = result.find('div', class_="content_title")
    title = hedlines.find('a').text
    article_body = result.find('div', class_="rollover_description")
    body = article_body.find('div', class_="rollover_description_inner").text
    
    print('----------------')
    print("Title of Article:" , title)
    print("Article snippit:" , body)

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

----------------
Title of Article:
NASA's Opportunity Rover Mission on Mars Comes to End

Article snippit:
Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.

Step 1.B - Pulling images

In [84]:
# URL and B.S
url_mars_pic = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_mars_pic)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [85]:
# pull images from website
images = soup.find_all('a', class_="fancybox")
#print (images)

In [86]:
#new featured image from site
featured_image_list = []

for image in images:
    full_size = image['data-fancybox-href']
    featured_image_list.append(full_size)
featured_image_url = 'https://www.jpl.nasa.gov' + full_size
#featured_image_list

#Just one image link
print("Feature Image URL:", featured_image_url)

Feature Image URL: https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23344_hires.jpg

Step 1.C - Get Weather from Twitter

In [89]:
url_Weather = "https://twitter.com/marswxreport?lang=en"
response = requests.get(url_Weather)
soup = BeautifulSoup(response.text, 'html.parser')

weather = soup.find_all("div",class_="js-tweet-text-container")

mars_weather = []
for content in weather:
    info = content.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
    mars_weather.append(info)
    #print(mars_weather)

In [93]:
current_weather= mars_weather[0]
print (current_weather)

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPapic.twitter.com/MhPPOHJg3m

Step 1.D - Mars Facts

In [111]:
#URL to DF
df_facts = "https://space-facts.com/mars/"
table = pd.read_html(df_facts)
table[0]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [112]:
#setting up table/df
mars_table = table[0]
mars_table.columns = ['Mars - Earth Comparison','Mars','Earth']
mars_table.set_index(['Mars - Earth Comparison'])
mars_table

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [113]:
#html table
mars_facts = mars_table.to_html()
mars_facts = mars_facts.replace("\n","")
mars_facts

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

Step 1.E Mars Hemispheres

In [179]:
# url and BS
url_Hemi = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_Hemi)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [208]:
#creating hemi image title list and pulling from site
hemi_title_list = []

for img_title in soup.find_all('div',class_="description"):
    hemi_title_list.append(img_title.find('h3').text)
hemi_title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [200]:
#creating hemi url list for images and pulling thumbnail url from site
hemi_thumb_img_list=[]

for image in soup.find_all('div', class_='item'):
    url = "https://astrogeology.usgs.gov/"
    hemi_thumb_img_list.append(url + image.find('img').get('src'))
hemi_thumb_img_list

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']

In [212]:
#stripping thumbnail and adding full image tag
full_img_list=[]
for all_url in hemi_thumb_img_list:
    split_thumb= all_url.split('.tif_thumb.png')[0]
    full_tag = split_thumb+'.tif/full.jpg'
    full_img_list.append(full_tag)
full_img_list

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif/full.jpg']

In [216]:
mars_hemi_info = [
    {"title": "Valles Marineris Hemisphere", "img_url": full_img_list[3]},
    {"title": "Cerberus Hemisphere", "img_url": full_img_list[0]},
    {"title": "Schiaparelli Hemisphere", "img_url": full_img_list[1]},
    {"title": "Syrtis Major Hemisphere", "img_url": full_img_list[2]},
]
mars_hemi_info

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif/full.jpg'}]